/* Nicholas made this and is super based */ 
 
 @font-face {
    font-family: TwCenMTStd;
    src: url(TwCenMTStd-Light.otf);
}

.text-box {
    animation: slide-up 3s;
    text-align: center;
}

body{
    -webkit-text-fill-color: whitesmoke;
    font-family: 'TwCenMTStd';
    background: linear-gradient(-45deg, #b1fc03, #09ff00,  #00ff2f, #0b03fc, #ff00d4, #ff0037);
    background-size: 300% 300%;
    -webkit-animation: gradient 10s ease infinite;
    animation: gradient 10s ease infinite;
}

@keyframes slide-up{
    from{
        opacity: 0.1;
        line-height: 750px;
    }
    to{
        opacity: 1;
        line-height: 18px;
    }
    
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
	50%{
		background-position: 100% 50%
	}
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
	50%{
		background-position: 100% 50%
	}
    100% {
        background-position: 0% 50%;
    }
}
